<section class="col-md-9 m-auto" >
<h1>Add Work</h1>
<br>
<br>
<form [formGroup]="jobForm" (ngSubmit)="onFormSubmit()">
  <button type="button" (click)="addNewJob()" class="btn btn-primary">Add new job</button>
  <div formArrayName="jobs">
      <div *ngFor="let job of getJobs().controls; let jobIndex = index">
        <div [formGroupName]="jobIndex" class="job">
         <button type="button" (click)="deleteJob(jobIndex)" class="btn btn-danger">X</button>
         <div class="form-group">
           <label for="">Enter company name</label>
           <input type="text" class="form-control" formControlName="companyName">
         </div>
         <div class="form-group">
          <label for="">Enter company Work Description</label>
          <input type="text" class="form-control" formControlName="companyWorkDescription">
        </div>
        <button class="btn btn-primary" type="button" (click)="addNewWorkExp(jobIndex)">Add experience</button>
        <div formArrayName="workExps">
           <div *ngFor="let exps of getWorkExps(jobIndex).controls; let expIndex = index">
            <div [formGroupName]="expIndex">
              <button class="btn btn-danger" type="button" (click)="deleteJobExp(jobIndex, expIndex)">Delete experience</button>
              <div class="form-group">
                <label for="">Position</label>
                <input type="text" class="form-control" formControlName="Position">
              </div>
              <div class="form-group">
                <label for="">Start date</label>
                <input type="text" class="form-control" formControlName="startAt">
              </div>
              <div class="form-group">
                <label for="">End date</label>
                <input type="text" class="form-control" formControlName="endAt">
              </div>
            </div>
           </div>
        </div>
        </div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary col-md-6 d-block m-auto">Save</button>
</form>
</section>